<html>
    <head>
        <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
    <body>
        <div>
            <p>I'm in the center</p>
            <br />
            <input type="text">
            <table>
                <tr>
                    <th>
                        <p>MD5</p>
                    </th>
                    <th>
                        <p>SHA1</p>
                    </th>
                    <th>
                        <p>SHA2</p>
                    </th>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
        </div>
    </body>
</html>